In [26]:
import pandas as pd
from sqlalchemy import create_engine, text

In [27]:
excel_file_path = "../../data/vagas_ofertadas/2019_2025/Portal_Sisu 2024_Vagas ofertadas.xlsx"
df = pd.read_excel(excel_file_path, sheet_name=1)

In [28]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
print(df.head())

   edicao  co_ies                                         no_ies  sg_ies  \
0    2024   25275  UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO  UFAPE
1    2024   25275  UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO  UFAPE
2    2024   25275  UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO  UFAPE
3    2024   25275  UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO  UFAPE
4    2024   25275  UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO  UFAPE

  ds_organizacao_academica ds_categoria_adm     no_campus no_municipio_campus  \
0             Universidade  Pública Federal  Unidade SEDE           Garanhuns
1             Universidade  Pública Federal  Unidade SEDE           Garanhuns
2             Universidade  Pública Federal  Unidade SEDE           Garanhuns
3             Universidade  Pública Federal  Unidade SEDE           Garanhuns
4             Universidade  Pública Federal  Unidade SEDE           Garanhuns

  sg_uf_campus ds_regiao  ...  perc_uf_pp perc_uf_i perc_uf_q perc_uf_pcd  \
0           PE  Nordeste  ...      0.6531    0.0118    0.0087      0.0986
1           PE  Nordeste  ...      0.6531    0.0118    0.0087      0.0986
2           PE  Nordeste  ...      0.6531    0.0118    0.0087      0.0986
3           PE  Nordeste  ...      0.6531    0.0118    0.0087      0.0986
4           PE  Nordeste  ...      0.6531    0.0118    0.0087      0.0986

  nu_perc_lei  nu_perc_ppi  nu_perc_pp  nu_perc_i  nu_perc_q nu_perc_pcd
0          50        66.49         NaN        NaN       0.87        9.86
1          50        66.49         NaN        NaN       0.87        9.86
2          50        66.49         NaN        NaN       0.87        9.86
3          50        66.49         NaN        NaN       0.87        9.86
4          50        66.49         NaN        NaN       0.87        9.86

[5 rows x 44 columns]

In [29]:
db_user = "postgres"
db_password = "123456"
db_host = "localhost"
db_port = "5431"
db_name = "enem"

engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [30]:
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS imp;"))

In [31]:
table_name = "enem2024"

df.to_sql(
    name=table_name,
    con=engine,
    schema="imp",
    if_exists="replace",
    index=False
)

print(f"Table '{table_name}' has been successfully created in the 'app' schema of the database '{db_name}'.")

Table 'enem2024' has been successfully created in the 'app' schema of the database 'enem'.